<p>{{fetchState}}</p>
<div *ngIf="list$ | async as list">
    <div *ngIf="fetchState === 'fulfilled'">
        <ul *ngIf="list.length>0; emptyList" >
            <li *ngFor="let flat of list">
                <h3>{{flat.address}}</h3>
                <div>{{flat.category.name}} {{flat.id}}</div>
                <div>{{flat.price}}</div>
                <div *ngIf="flat.square">{{flat.square}} m2</div>
            </li>
        </ul>
        <ng-template #emptyList>
            <p>Flats not found</p>
        </ng-template>
    </div>
    <p *ngIf="fetchState === 'rejected'" style="color: red;">Error</p>
</div>
<p *ngIf="fetchState === 'pending'">Loading...</p>


